<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Environmental Analysis</title>
    <link rel="shortcut icon" href="../img/a.png" type="image/x-ico">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">



</head>

<body>
    <div class="navbar-fixed nav">
        <nav>
            <div class="nav-wrapper">

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#problema">Problema</a></li>
                    <li><a href="#solucion">Solución</a></li>
                    <li><a href="#causasefectos">Causas-Efectos</a></li>
                    <li><a href="#analsis">Análisis de Datos</a></li>
                </ul>
            </div>
        </nav>
    </div>


    <main class="info">
        <div class="absolute-title">
            <h3>E-MONITOR</h3>
        </div>
        <div class="container">
            <img src="..//img/15.png" alt="b" data-aos="fade-right" data-aos-duration="2000">
            <div data-aos="fade-left" data-aos-duration="2000">
                <h1><span>Análisis</span> / Predicción</h1>
                <p>Sistema inteligente de monitoreo ambiental para la región 7
                    utilizando Python y análisis de datos.</p>
                <button onclick="location.href= '#analsis'" class="btn-info">Conocer más</button>
            </div>

        </div>
    </main>
    <article class="over-lay-section" id="problema">
        <div class="over-lay">
            <div class="container">

                <h2>Planteamineto del Problema</h2>
                <p>Se requiere desarrollar un sistema de monitoreo ambiental utilizando
                    técnicas de Python para inteligencia artificial, con el fin de identificar
                    y prevenir actividades ilegales utilizando técnicas de análisis de datos en tiempo real.</p>
            </div>
        </div>
    </article>
    <article class="products" id="solucion">
        <section class="product-tittle">
            <h2 data-aos="fade-up" data-aos-duration="2000">Planteamiento de la Solución</h2>
            <div class="divider"></div>
        </section>
        <section class="carousel">
            <a class="carousel-item" href="#one!">
                <img src="../img/1.png" alt="">
                <h5>Nivel Máx Río</h5>
            </a>
            <a class="carousel-item" href="#two!">
                <img src="../img/2.png" alt="">
                <h5>Humedad Aire</h5>
            </a>
            <a class="carousel-item" href="#three!">
                <img src="../img/3.png" alt="">
                <h5>Velocidad Viento</h5>
            </a>
            <a class="carousel-item" href="#four!">
                <img src="../img/4.png" alt="">
                <h5>Temperatura</h5>
            </a>
            <a class="carousel-item" href="#five!">
                <img src="../img/5.png" alt="">
                <h5>Precipitación</h5>
            </a>
            <a class="carousel-item" href="#six!">
                <img src="../img/6.png" alt="">
                <h5>Nivel Min. Río</h5>
            </a>
            <a class="carousel-item" href="#seven!">
                <img src="../img/7.png" alt="">
                <h5>Dirección Viento</h5>
            </a>
            <a class="carousel-item" href="#eigth!">
                <img src="../img/2.png" alt="">
                <h5>Tem. Máx. Aire</h5>
            </a>
            <a class="carousel-item" href="#nine!">
                <img src="../img/9.png" alt="">
                <h5>Nivel Inst. Río</h5>
            </a>
            <a class="carousel-item" href="#ten!">
                <img src="../img/10.png" alt="">
                <h5>Tem. Min. Aire</h5>
            </a>
            <a class="carousel-item" href="#eleven!">
                <img src="../img/11.png" alt="">
                <h5>Presión Atmosférica</h5>
            </a>

        </section>
        <p>Se busca identificar la realización, inicialmente de las siguientes actividades ILÍCITAS contra el medio
            ambiente:

            Aprovechamiento ilícito (Extracción excesiva de agua para uso humano y actividades agrícolas)
            Deforestación
            Daños en los recursos naturales - ecocidios (Construcciones ilegales o en áreas no permitidas)
            Contaminación ambiental (Quema de combustibles fósiles)

            Esto se debe al impacto que estas actividades causan sobre las variables mencionadas anteriormente y la
            correlación que se genera entre ellas.</p>
    </article>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="skew">
        <path fill="rgb(0, 0, 0)" fill-opacity="1" d="M0,128L1440,288L1440,320L0,320Z"></path>
    </svg>

    <div class="vision" id="causasefectos">
        <h2 data-aos="fade-up" data-aos-duration="2000">Causas-Efectos</h2>
        <div class="divider"></div>
        <div class="visiones">

            <ul class="collapsible Dark">
                <li>
                    <div class="collapsible-header"><i class="material-icons"></i>DEFORESTACIÓN</div>
                    <div class="collapsible-body"><span><img src="../img/def.png" alt=""></span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons"></i>APROVECHAMIENTO ILÍCITO</div>
                    <div class="collapsible-body"><span><img src="../img/illic.png" alt=""></span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons"></i>ECOCIDIOS </div>
                    <div class="collapsible-body"><span><img src="../img/ecocidios.png" alt=""></span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons"></i>CONTAMINACIÓN AMBIENTAL</div>
                    <div class="collapsible-body"><span><img src="../img/contamina.png" alt=""></span></div>
                </li>
            </ul>

        </div>
    </div>

    <div class="contac" id="analsis">
        <h1>Analizar Datos</h1>
        <div class="fondo">
            <a href="http://localhost:8000/process_data" class="rainbow-button" alt="Ejecutar Análsisi de Datos"
                target="_blank"></a>
        </div>
    </div>
    <footer class="footer footerpao">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">RECURSOS</h5>
                    <p class="grey-text text-lighten-4">Fuentes de datos para análisis y herramientas para desarrollo
                        del proeycto.</p>
                </div>
                <div class="col l4 offset-l2 s12">

                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.datos.gov.co" target="_blank">DATOS
                                ABIERTOS DE COLOMBIA</a></li>
                        <li><a class="grey-text text-lighten-3"
                                href="https://www.minambiente.gov.co/recuerde-cuales-son-los-delitos-ambientales-que-se-penalizan-en-colombia/">MIN
                                AMBIENTE Y DESARROLLO</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.car.gov.co/">CORP. AUTÓNOMA REG.
                                CUND.</a></li>
                        <li><a class="grey-text text-lighten-3"
                                href="https://www.mintic.gov.co/portal/inicio/">MINTIC</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.usergioarboleda.edu.co/">USA</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright footerpao">
            <div class="container ">
                PAOLA ANDREA LOZADA G.
                <a class="grey-text text-lighten-4 right" href="https://paolozada.com/"
                    target="_blank">paolozada.com</a>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../static/js/scripts.js"></script>
</body>

</html>